.about {
  @include wrapper;
  &__sidebar {
    @include sidebar;

    @include laptop {
      padding: 50px 0px 0px 225px;
    }
  }

  &__caption {
    @include caption;
  }

  &__text {
    @include text;
    margin-top: 330px;

    @include mobile {
      margin-top: 50px;
    }

    @include tablet {
      margin-top: 60px;
    }
    @include laptop {
      margin-top: 80px;
    }
  }

  &__more {
    @include more;
  }

  &__divider {
    @include divider;
    margin-top: 80px;

    @include tablet {
      margin-top: 25px;
    }
    @include tablet {
      margin-top: 45px;
    }
  }
}
.socialny {
  @include social-icons;
}

.fa-angle-right {
  color: $color__main_red;
  margin-left: 20px;
  cursor: pointer;
}

.about__page {
  @include page;
  padding-left: 80px;
  display: flex;
  flex-direction: column;

  background-image: url(./img/about_bg.jpg);
  @include mobile {
    padding-left: 25px;
  }
  @include tablet {
    padding-left: 25px;
    }

  @include laptop {
    padding: 10px 0px 0px 130px;
  }
}

.block {
  @include block;

}

.block-text {
  @include block-text;
}

.about__slogan {
  @include slogan;

  @include tablet {
    top: 485px;
    right: -320px;
    opacity: 0.8;
  }

  @include laptop {
    top: 570px;
    right: -320px;
    opacity: 0.8;
  }
}

.about__text2 {
  right: -560px;
  opacity: 0.3;

  @include mobile {
    display: none;
  }
  @include tablet {
    right: -400px;
  }

  @include laptop {
    right: -400px;
  }
}
