.about {
  @include wrapper;

  &__slogan {
    @include slogan;
  }

  &__text2 {
    opacity: 0.3;
    top: 80%;
  }

  &__sidebar {
    @include sidebar;
  }

  &__page {
    @include page;
    background-image: url(../img/about_bg.jpg);
  }

  &__caption {
    @include caption;
  }

  &__text {
    @include text;
    margin-top: 42%;

    @media (max-height: 720px) {
      margin-top: 25%;
    }
  }

  &__more {
    @include more;
  }

  &__divider {
    @include divider;
  }
}

.socialny {
  @include social-icons;
}

.block {
  @include block;
}