.contact {
  @include wrapper;

  &__slogan {
    @include slogan;
  }

  &__text2 {
    opacity: 0.3;
    top: 80%;
  }

  &__page {
    @include page;
    background-image: url(../img/contact_bg.jpg);
  }
}

#map {
  width: 35%;
  height: 95%;
  border: 2px solid $color__main_red;
  margin: 15px;

  @media (max-width: 920px) {
    width: 94%;
    min-height: 300px;
  }
}

.text-red {
  font-family: $font_AxiformaHeavy;
  text-transform: uppercase;
  color: $color__main_red;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 20px;

  @media (max-height: 720px) {
    margin-bottom: 10px;
  }
}

.text-white {
  font-weight: 300;
  color: $color__main_white;
  font-family: $font_AxiformaLight;
  margin-bottom: 60px;
  line-height: 1.71;

  @media (max-height: 720px) {
    margin-bottom: 30px;
    line-height: 1.31;
  }
}

.subscribe {
  font-family: $font_AxiformaHeavy;
  text-transform: uppercase;
  color: $color__main_red;
  font-weight: 600;
  text-align: left;
  margin-bottom: 30px;
  font-size: 19px;
}

input {
  color: $color__main_white;
  width: 300px;
  height: 60px;
  padding-left: 28px;
  background-color: $color__main_darkgrey;
  outline: none;
  border: none;

  &:hover {
    border: 2px solid $color__main_red;
  }
}

::placeholder {
  color: $color__main_white;
}

input:focus {
  outline: none;
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

input:hover::placeholder {
  color: transparent;
}

.sendbtn {
  font-family: $font_AxiformaSemiBold;
  margin: 24px 0px 10px 0px;
  border: none;
  background-color: transparent;
  background-image: none;
  color: $color__main_white;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    transform: scale(0.98);
    color: $color__main_red;
  }
}