.reference {
  width: 100%;
  height: 670px;
  min-height: 100%;
  text-align: center;
  position: relative;
  background-image: url(../img/reference_bg.jpg);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;


  &__slogan {
    @include slogan;
  }

  &__text2 {
    opacity: 0.3;
    top: 80%;
  }


  &__sidebar {
    @include sidebar;
    position: absolute;
  }

  &__caption {
    @include caption;
  }

  &__text-content {
    @include text-content;
    width: 400px;
  }

  &__more {
    @include more;
    margin-bottom: 142px;
  }

  &__divider {
    @include divider;
  }

}

.social-wrapper a:hover {
  opacity: 0.7;
}

.reference__book-img {
  position: absolute;
  top: 15%;
  right: 5%;
  z-index: 15;
  max-width: 60%;

  @include mobile {
    max-width: 88%;
    top: 417px;
    left: 6%;
  }

  @include tablet {
    max-width: 44%;
    top: 1066px;
    left: 42%;
  }

  @include laptop {
    max-width: 37%;
    top: 1110px;
    left: 47%;
  }
}

.client {
  font-size: 12px;
  margin: 220px 0px 10px 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $font_AxiformaSemiBold;

  @include mobile {
    margin-top: 120px;
  }

  @include tablet {
    margin-top: 150px;
  }

  @include laptop {
    margin-top: 200px;
  }
}

.art {
  font-family: $font_AxiformaHeavy;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  color: $color__main_red;
  margin-bottom: 30px;
}
