.social {
  @include wrapper;

  &__slogan {
    @include slogan;
  }

  &__text2 {
    opacity: 0.3;
    top: 80%;
  }

  &__sidebar {
    @include sidebar;
  }

  &__caption {
    @include caption;
  }

  &__text {
    @include text;
    margin-top: 260px;
  }

  &__divider {
    @include divider;
  }

  &__huge-letter {
    @include huge-letter;
  }

}



.follow {
  font-family: $font_AxiformaLight;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  margin: 125px 0px 15px 0px;
}

.icon-tw-big {
  width: 200px;
  height: 250px;
  position: absolute;
  z-index: 1;
  right: -5%;
  bottom: 0;
}

.icon-tw-small {
  width: 32px;
  height: 27px;
  color: $color__main_red;
  font-size: 25px;
  top: 92%;
  right: 2%;
  position: absolute;
  z-index: 1;
}

.socialny {
  @include social-icons;
}

.slider-wrapper {
  width: 640px;
  height: 90%;
  margin-top: 5%;
  position: relative;
  z-index: 100;
  overflow: hidden;
  @media (max-width: 570px) {
    width: 100%;
    
  }
}

.slider__item {
  width: 630px;
  height: 180px;
  opacity: 0.8;
  background-color: $color__main_darkgrey;
  margin-bottom: 25px;
  margin-left: 75px;
  color: $color__main_white;
  z-index: 200;

  a {
    text-decoration: none;
    color: $color__main_white;
    cursor: pointer;
  }

  @media (max-width: 570px) {
    margin-left: 0px;
    margin-bottom: 16px;
    height: 250px;
    width: 100% !important;
  }

}



.slider__item:hover {
  background-color: $color__main_darkgrey;
  border-bottom: 2px solid $color__main_red;
}

.block-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  // margin: 0px 20px;

  i {
    color: $color__main_red;
  }
  @media (max-width: 570px) {
    margin: 0;
    padding: 0 1rem;
  }
}

.text-data {
  font-weight: 600;
  line-height: 1.71;
  text-align: left;
  color: $color__main_red;
  text-transform: uppercase;
  font-family: $font_AxiformaSemiBold;
  margin: 20px 70px 20px 8px;
  @media (max-width: 570px) {
    margin: 0;
    padding: 1rem 0.5rem;
  }
}

.text-count {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  text-align: right;
  margin: 20px 80px 0px 30px;

  i {
    margin-left: 20px;
  }

  @media (max-width: 570px) {
    margin: 0;
    padding: 1rem 0.5rem;
  }
}

.block__text {
  width: 465px;
  height: 63px;

  @media (max-width: 570px) {
    width: 98%;
    height: 70%;
    overflow: hidden;
  }
}

.text-item {
  font-weight: 300;
  text-align: left;
  margin: 0px 20px 50px 30px;
  line-height: 1.71;

  @media (max-width: 570px) {
    margin: 0;
    padding: 1rem;
  }
}

.social__page {
  @include page;
  display: block;
  background-image: url(../img/social_bg.jpg);
}