$font_Violence: 'violenceraw';
$font_AxiformaBlack: 'axiformablack';
$font_AxiformaHeavy: 'axiformaheavy';
$font_AxiformaLight: 'axiformalight';
$font_AxiformaSemiBold: 'axiformasemibold';


$color__main_white: #ffffff;
$color__main_red: #ed2340;
$color__main_darkgrey: #1b1e2e;
$color__main_darkgrey-hover: #1b1e2e65;
$color__main_transparent: transparent;
$color__main_grey: #9296a1;
$color__form: rgba(20, 24, 39, 0.9);