.what {
  @include wrapper;

  &__slogan {
    @include slogan;
  }

  &__text2 {
    opacity: 0.3;
    top: 80%;
  }

  &__sidebar {
    @include sidebar;
  }

  &__caption {
    @include caption;
    margin: 0px 0px 315px 0px;

    @include mobile {
      margin: 0px 0px 25px 0px;
    }
  }

  &__text {
    @include text;
    margin: 0px 0px 84px 0px;
  }

  &__more {
    @include more;
    margin: 0px;
  }

  &__divider {
    @include divider;
    margin-top: 30px;
  }

  &__huge-letter {
    @include huge-letter;
  }
}


.what__page {
  @include page;
  display: block;
  padding-left: 80px;
  background-image: url(../img/what_bg.jpg);
}

.block {
  @include block;
}

// .block-text {
//   @include block-text;
// }