@import "./reset";
@import "./fonts";
@import "./variables";
@import "./responsive";
@import "./mixins";
@import "./intro";
@import "./about";
@import "./contact";
@import "./form";
@import "./reference";
@import "./social";
@import "./team";
@import "./what";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  // overflow-y: scroll;
  // overflow-x: hidden;
  position: relative;
}

.slogan-wrapper {
  width: 15%;
  height: 100%;
  top: 0;
  right: 5%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.fa-angle-right {
  color: $color__main_red;
  cursor: pointer;
}