html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  // overflow-y: scroll;
  // overflow-x: hidden;
  position: relative;

}

@import "./reset";
@import "./fonts";
@import "./variables";
@import "./responsive";
@import "./mixins";
@import "./intro";
@import "./about";
@import "./contact";
@import "./form";
@import "./reference";
@import "./social";
@import "./team";
@import "./what";
